.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .keypad button {
    width: 48px;
    height: 30px;
    margin: 2px;
  }
  .calculatorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    background-color:aqua;
  }
  body{
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }
  input[type="button"]{
      width: 100px;
  }