.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  
  #result {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .keypad button {
    width: 48px;
    height: 30px;
    margin: 2px;
  }